.icons {
    font-size: 50px;
}

#contact-p {
    color: #ffffff;
    font-size: 18px;
}

#submit-button {
    color: #000000;
    background-color: var(--anchor-color);
    border: none;
}

#submit-button:hover {
    background-color: var(--second-heading-color);
}