.icons {
  font-size: 50px;
}

#submit-button {
  color: #000000;
  background-color: var(--anchor-color);
  font-weight: bold;
  border: none;
}

#submit-button:hover {
  background-color: var(--second-heading-color);
}

#contact-info li a:hover,
#contact-info li a p.contact:hover {
  color: var(--second-heading-color);
}

#contact-info li a p.contact {
  color: var(--anchor-color);
  text-decoration: none;
}
