.icons {
    font-size: 50px;
}

#submit-button {
    color: #000000;
    background-color: var(--anchor-color);
    border: none;
}

#submit-button:hover {
    background-color: var(--second-heading-color);
}

p.contact {
    color: var(--anchor-color);
    text-decoration: none;
}

p.contact:hover {
    color: var(--second-heading-color);
}