header {
    background-color: #000000;
    color: #ffffff;
}

#nav {
    color: #ffffff;
}

h1 {
    /* color: #e04a0f; */
    color: #D56300;
    text-indent: 20%;
}

#contacting li {
    list-style-type: none;
}

#contacting li a {
    color: #ffffff;
}

#contacting li a:hover {
    /* color: #e04a0f; */
    color: #D56300;
}