header {
    background-color: var(--bg-color);
}

#header h1 {
    /* color: #e04a0f; */
    color: var(--heading-color);
    text-indent: 20%;
}

#contacting li {
    list-style-type: none;
}

#contacting li a {
    color: var(--anchor-color);
}

#contacting li a:hover {
    /* color: #e04a0f; */
    color: var(--heading-color);
}