h2 {
    color: var(--second-heading-color);
}

section {
    background-color: var(--second-bg-color);
}

li {
    list-style-type: none;
}

img {
    width: 100%;
    aspect-ratio: 1/0.5;
    object-fit: cover;
}

.project-card:hover {
    cursor: pointer;
}