#project-h2 {
    color: var(--second-heading-color);
    font-size: 60px;
}

section {
    background-color: var(--second-bg-color);
}

li {
    list-style-type: none;
}

img.project-card-image {
    width: 100%;
    aspect-ratio: 1/0.5;
    object-fit: cover;
}

.project-heading {
    font-size: 35px;
}